<div>
	<h2>We're going to have an exciting party!</h2>
	<h4>And you are invited! Let us know if you're coming by filling out the RSVP form.</h4>
	<button type="button" onclick="location.href='@Url.Action("Login", "Home")'">RSVP Now</button>
</div>
