@model IEnumerable<PartyInvites.Models.GuestResponse>
@inject PartyInvites.Abstract.IRepository repo;

<div>
	<div>
		<h4>Attendance</h4>
	</div>
	<h2>Here is the list of people attending the party</h2>
	<table>
		<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Address</th>
			<th>Attending</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var r in Model)
		{
			<tr>
				<td>@r.Name</td>
				<td>@repo.GetEmail(r)</td>
				<td>@r.Phone</td>
				<td>@r.Address</td>
				@if (r.WillAttend == null)
				{
					<td>?</td>
				}
				else if (r.WillAttend == true)
				{
					<td>Yes</td>
				}
				else
				{
					<td>No</td>
				}
			</tr>
		}
		</tbody>
	</table>
</div>
