@model PartyInvites.Models.GuestResponse

<div>
	<div>
		<h4>Login</h4>
	</div>
	<div class="form-wrapper">
		<form asp-action="Login" method="post">

			<label asp-for="Email">Email</label>
			<input asp-for="Email" placeholder="Your Email Address" />

			<div>
				<button type="submit">
					Login
				</button>
			</div>
		</form>
	</div>
</div>
