@model PartyInvites.Models.Credential

<div>
	<div class="form-wrapper">
		<form asp-action="Login" method="post">

			<label asp-for="Email">Email</label>
			<span asp-validation-for="Email"></span>
			<input asp-for="Email" placeholder="Your Email Address" />

			<div>
				<button type="submit">
					Submit
				</button>
			</div>
		</form>
	</div>
</div>
