@model PartyInvites.Models.GuestResponse

<div>
	<div class="form-wrapper">
		<form asp-action="RsvpForm" method="post">
			
			<label asp-for="Credential.Email">Email</label>
			<input asp-for="Credential.Email" readonly class="readonly" value="@Model?.Credential.Email" />

			<label asp-for="Name">Name</label> 
			<span asp-validation-for="Name"></span>
			<input asp-for="Name" placeholder="Your Name" value="@Model?.Name"/>

			<label asp-for="Phone">Phone Number</label>
			<span asp-validation-for="Phone"></span>
			<input asp-for="Phone" placeholder="Your Phone Number" value="@Model?.Phone"/>

			<label asp-for="Address">Address</label>
			<span asp-validation-for="Address"></span>
			<input asp-for="Address" placeholder="Your Address" value="@Model?.Address"/>

			<label asp-for="WillAttend">Will you attend?</label>
			<span asp-validation-for="WillAttend"></span>
			<select asp-for="WillAttend">
				@if (Model?.WillAttend == null)
				{
					<option selected value="">Choose an option</option>
					<option value="true">Yes, I'll be there</option>
					<option value="false">No, I can't come</option>
				}
				else if (Model?.WillAttend == true)
				{
					<option value="">Choose an option</option>
					<option selected value="true">Yes, I'll be there</option>
					<option value="false">No, I can't come</option>
				}
				else
				{
					<option value="">Choose an option</option>
					<option value="true">Yes, I'll be there</option>
					<option selected value="false">No, I can't come</option>
				}
			</select>

			<div>
				<button type="submit">
					Submit RSVP
				</button>
			</div>
		</form>
	</div>
</div>
