<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewData["Title"]</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<div class="content-wrapper">
	<div id="navbar">
		<ul>
			<li><a asp-controller="Home" asp-action="Index">Home</a></li>
			<li><a asp-controller="Home" asp-action="ListResponses">Attendance</a></li>
		</ul>
	</div>

	@RenderBody()

</div>

<!-- https://stackoverflow.com/a/42969608 -->
<script> </script>

</body>
</html>
