<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewData["Title"]</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/css/style.css" />
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
</head>
<body>
	<div class="content-wrapper">
		<div id="navbar">
			<a asp-controller="Home" asp-action="Index"><i class="material-icons glyphicon-home">home</i></a>
			<ul>
				<li><a asp-controller="Home" asp-action="Index">Home</a></li>
				<li><a asp-controller="Home" asp-action="ListResponses">Attendance</a></li>
				<li class="counter"><a asp-controller="Home" asp-action="ListResponses">@await Component.InvokeAsync("Counter")</a></li>
			</ul>
		</div>

		@RenderBody()

	</div>

	<script> $.backstretch("@Url.Content("~/images/_DSC0212.jpg")"); </script>

</body>
</html>
