<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<div class="content-wrapper">
		<div id="navbar">
			<ul>
				<li><a asp-controller="Home" asp-action="">Home</a></li>
			</ul>
		</div>

		@RenderBody()

	</div>
</body>
</html>
